body {
    background-color: beige;
    font: normal 18pt 'Bookman';
}

header {
text-align: center;
color: white;
background-color: rgba(255, 255, 255, 0.24);
width: 500px;
margin: auto;
border-radius: 10px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
padding-bottom: 4px;
margin-bottom: 10px;
}

section {
    background: rgb(255, 255, 255);
    padding: 30px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
    text-align: center;
}

div {
    padding: 8px;
}

footer {
color: white;
font: Normal 8pt 'Bookman';
text-align: center;
}
